<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>181283984431-p7urtop9pl5md1ddreblc1qof88e8e6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181283984431-p7urtop9pl5md1ddreblc1qof88e8e6q</string>
	<key>API_KEY</key>
	<string>AIzaSyAftHI7Vcr-_jmErOWHzZX-ZACgaaxmbEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>181283984431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ron.socialtrader</string>
	<key>PROJECT_ID</key>
	<string>social-trader-eee8e</string>
	<key>STORAGE_BUCKET</key>
	<string>social-trader-eee8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181283984431:ios:34bf88c29361fa0f</string>
	<key>DATABASE_URL</key>
	<string>https://social-trader-eee8e.firebaseio.com</string>
</dict>
</plist>